force-app/main/default/flows/Lead_Convert_Copy_Custom_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASN_Set_OppType</name>
        <label>Set Opportunity Type</label>
        <locationX>880</locationX>
        <locationY>1080</locationY>
        <assignmentItems>
            <assignToReference
      >Get_Converted_Opportunity.Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_ProjClass_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Set_ProjClass</name>
        <label>Set Project Classification</label>
        <locationX>880</locationX>
        <locationY>1320</locationY>
        <assignmentItems>
            <assignToReference
      >Get_Converted_Opportunity.Project_Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Project_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_ProjSubClass_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Set_ProjSubClass</name>
        <label>Set Project Sub-classification</label>
        <locationX>880</locationX>
        <locationY>1560</locationY>
        <assignmentItems>
            <assignToReference
      >Get_Converted_Opportunity.Project_Sub_classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Project_Sub_classification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Converted_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Account_Target_Blank</name>
        <label>Account Target Field Blank?</label>
        <locationX>528</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>DEC_Has_Converted_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>W_Account_Sector_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Converted_Account.W_Account_Sector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Update_Converted_Account_Sector</targetReference>
            </connector>
            <label>W_Account_Sector__c Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Any_Opportunity_Target_Blank</name>
        <label>Any Opportunity Target Blank?</label>
        <locationX>528</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>DEC_Has_Converted_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Targets Blank</defaultConnectorLabel>
        <rules>
            <name>At_Least_One_Target_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Converted_Opportunity.Opportunity_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Converted_Opportunity.Project_Classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Converted_Opportunity.Project_Sub_classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_OppType_Blank</targetReference>
            </connector>
            <label>At Least One Target Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Contact_Target_Blank</name>
        <label>Contact Target Field Blank?</label>
        <locationX>528</locationX>
        <locationY>2040</locationY>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>A_Lead_Source_Comment_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Converted_Contact.A_Lead_Source_Comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Update_Converted_Contact_Lead_Source_Comment</targetReference>
            </connector>
            <label>A_Lead_Source_Comment__c Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Has_Converted_Account</name>
        <label>Has Converted Account?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>DEC_Has_Converted_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Converted Account</defaultConnectorLabel>
        <rules>
            <name>ConvertedAccountId_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.ConvertedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Account</targetReference>
            </connector>
            <label>ConvertedAccountId Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Has_Converted_Contact</name>
        <label>Has Converted Contact?</label>
        <locationX>176</locationX>
        <locationY>1800</locationY>
        <defaultConnectorLabel>No Converted Contact</defaultConnectorLabel>
        <rules>
            <name>ConvertedContactId_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Contact</targetReference>
            </connector>
            <label>ConvertedContactId Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Has_Converted_Opportunity</name>
        <label>Has Converted Opportunity?</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>DEC_Has_Converted_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Converted Opportunity</defaultConnectorLabel>
        <rules>
            <name>ConvertedOpportunityId_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Opportunity</targetReference>
            </connector>
            <label>ConvertedOpportunityId Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_OppType_Blank</name>
        <label>Opportunity Type Blank?</label>
        <locationX>528</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>DEC_ProjClass_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>OppType_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Converted_Opportunity.Opportunity_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Set_OppType</targetReference>
            </connector>
            <label>Opportunity Type Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_ProjClass_Blank</name>
        <label>Project Classification Blank?</label>
        <locationX>528</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>DEC_ProjSubClass_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>ProjClass_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Converted_Opportunity.Project_Classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Set_ProjClass</targetReference>
            </connector>
            <label>Project Classification Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_ProjSubClass_Blank</name>
        <label>Project Sub-classification Blank?</label>
        <locationX>528</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Update_Converted_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>ProjSubClass_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Converted_Opportunity.Project_Sub_classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Set_ProjSubClass</targetReference>
            </connector>
            <label>Project Sub-classification Blank</label>
        </rules>
    </decisions>
    <description
  >After a Lead is converted, copies custom fields to the converted Account (Sector__c → W_Account_Sector__c), Opportunity (Enquiry_Type__c → Opportunity_Type__c, Project_Classification__c, Project_Sub_classification__c), and Contact (Description → A_Lead_Source_Comment__c). Each target field is only written when it is currently blank — existing values are never overwritten.</description>
    <interviewLabel
  >Lead - Convert - Copy Custom Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Convert - Copy Custom Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>528</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Account_Target_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>528</locationX>
        <locationY>1920</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Contact_Target_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Opportunity</name>
        <label>Get Converted Opportunity</label>
        <locationX>528</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Any_Opportunity_Target_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Converted_Account_Sector</name>
        <label>Update Converted Account Sector</label>
        <locationX>880</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>DEC_Has_Converted_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>W_Account_Sector__c</field>
            <value>
                <elementReference>$Record.Sector__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Converted_Contact_Lead_Source_Comment</name>
        <label>Update Converted Contact Lead Source Comment</label>
        <locationX>880</locationX>
        <locationY>2160</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>A_Lead_Source_Comment__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Converted_Opportunity</name>
        <label>Update Converted Opportunity</label>
        <locationX>528</locationX>
        <locationY>1680</locationY>
        <connector>
            <targetReference>DEC_Has_Converted_Contact</targetReference>
        </connector>
        <inputReference>Get_Converted_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Has_Converted_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
