force-app/main/default/flows/Opportunity_AutolaunchedFlow_NotifyOnAccessFlagTransition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description
    >Resolves recipient IDs and email addresses from the appropriate Public Group based on which access flag(s) transitioned. varB_notifyRestricted and varB_notifyTopSecret drive the routing so only the groups relevant to the flag change are queried.</description>
        <name>Resolve_Notification_Recipients</name>
        <label>Resolve Notification Recipients</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>OpportunityEmailRouter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Notification_Content</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isRestricted</name>
            <value>
                <elementReference>varB_notifyRestricted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isTopSecret</name>
            <value>
                <elementReference>varB_notifyTopSecret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerEmail</name>
            <value>
                <elementReference
        >varR_newOpportunity.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varR_newOpportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityEmailRouter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varT_recipientIds</assignToReference>
            <name>recipientIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_emailAddresses</assignToReference>
            <name>emailAddresses</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description
    >Sends the custom in-app notification to the eligible Public Group members. Links to the Opportunity record that triggered the access flag change.</description>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference
        >Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varT_recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varT_notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varT_notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varR_newOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description
    >Sends an email alert to all eligible group members with access flag change details. The email is saved as an activity on the Opportunity.</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varT_emailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>polaris@wtpartnership.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varT_notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varT_notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varR_newOpportunity.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description
    >Composes varT_notificationTitle and varT_notificationBody from Opportunity field values and the record URL.</description>
        <name>Assign_Notification_Content</name>
        <label>Assign Notification Content</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varT_notificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Access Level Changed: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_newOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Name: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_newOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Restricted: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >varR_newOpportunity.Restricted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Top Secret: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >varR_newOpportunity.Top_Secret__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Record Link: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxT_recordUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Timestamp: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxDT_nowFormatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Marks that the Restricted__c flag changed, so OpportunityEmailRouter will query SalesTeam_Restricted.</description>
        <name>SET_NotifyRestricted</name>
        <label>SET NotifyRestricted</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varB_notifyRestricted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_TopSecretChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Marks that the Top_Secret__c flag changed, so OpportunityEmailRouter will query SalesTeam_TopSecret.</description>
        <name>SET_NotifyTopSecret</name>
        <label>SET NotifyTopSecret</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varB_notifyTopSecret</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_ShouldNotify</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description
    >Checks whether Restricted__c changed value in this update (turned on OR turned off).</description>
        <name>DEC_RestrictedChanged</name>
        <label>DEC RestrictedChanged</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>DEC_TopSecretChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Restricted_Changed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference
        >varR_newOpportunity.Restricted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >varR_oldOpportunity.Restricted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >varR_newOpportunity.Restricted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >varR_oldOpportunity.Restricted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_NotifyRestricted</targetReference>
            </connector>
            <label>Restricted Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Gate that exits without notifications when neither flag actually transitioned to true.</description>
        <name>DEC_ShouldNotify</name>
        <label>DEC ShouldNotify</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel
    >Neither Flag Changed — Exit</defaultConnectorLabel>
        <rules>
            <name>ShouldNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varB_notifyRestricted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB_notifyTopSecret</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Type</targetReference>
            </connector>
            <label>At Least One Flag Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checks whether Top_Secret__c changed value in this update (turned on OR turned off).</description>
        <name>DEC_TopSecretChanged</name>
        <label>DEC TopSecretChanged</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>DEC_ShouldNotify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>TopSecret_Changed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference
        >varR_newOpportunity.Top_Secret__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >varR_oldOpportunity.Top_Secret__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >varR_newOpportunity.Top_Secret__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >varR_oldOpportunity.Top_Secret__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_NotifyTopSecret</targetReference>
            </connector>
            <label>Top Secret Changed</label>
        </rules>
    </decisions>
    <description
  >Autolaunched subflow invoked when Restricted__c or Top_Secret__c transitions from false to true on an Opportunity. Queries the appropriate Public Group via OpportunityEmailRouter and sends in-app notifications and email alerts to the resolved recipients.</description>
    <environments>Default</environments>
    <formulas>
        <description
    >Formats the current date and time as a text string for display in the notification body.</description>
        <name>fxDT_nowFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <description
    >Builds a Lightning Experience record URL for the Opportunity.</description>
        <name>fxT_recordUrl</name>
        <dataType>String</dataType>
        <expression
    >{!$Api.Enterprise_Server_URL_580} &amp; &quot;/&quot; &amp; {!varR_newOpportunity.Id}</expression>
    </formulas>
    <interviewLabel
  >Opportunity - AutolaunchedFlow - NotifyOnAccessFlagTransition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - AutolaunchedFlow - NotifyOnAccessFlagTransition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description
    >Retrieves the Opportunity_Owner_Alerts custom notification type record to obtain its Id for the Send Custom Notification action.</description>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resolve_Notification_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Confidentiality_Alerts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_RestrictedChanged</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description
    >Set to true when Restricted__c transitioned from false to true. Passed to OpportunityEmailRouter to query SalesTeam_Restricted.</description>
        <name>varB_notifyRestricted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description
    >Set to true when Top_Secret__c transitioned from false to true. Passed to OpportunityEmailRouter to query SalesTeam_TopSecret.</description>
        <name>varB_notifyTopSecret</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description
    >The new (after-change) Opportunity record passed in from the parent record-triggered flow.</description>
        <name>varR_newOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description
    >The old (before-change) Opportunity record used to confirm false-to-true flag transitions.</description>
        <name>varR_oldOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description
    >Comma-separated email address string returned by OpportunityEmailRouter.</description>
        <name>varT_emailAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Body of the custom in-app notification.</description>
        <name>varT_notificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Title of the custom in-app notification.</description>
        <name>varT_notificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Collection of Salesforce User IDs returned by OpportunityEmailRouter. Passed to the Send Custom Notification action.</description>
        <name>varT_recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
