force-app/main/default/flows/Opportunity_AutolaunchedFlow_NotifyOnKeyStageTransitions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description
    >Resolves in-app notification recipient IDs and email addresses by querying the appropriate Public Group based on the Opportunity&apos;s access classification. Normal opps route to SalesTeam_All (IDs) and owner-only (email); sensitive opps route to the matching group for both.</description>
        <name>Resolve_Notification_Recipients</name>
        <label>Resolve Notification Recipients</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>OpportunityEmailRouter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Notification_Content</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isRestricted</name>
            <value>
                <elementReference
        >varR_newOpportunity.Restricted__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isTopSecret</name>
            <value>
                <elementReference
        >varR_newOpportunity.Top_Secret__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerEmail</name>
            <value>
                <elementReference
        >varR_newOpportunity.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varR_newOpportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityEmailRouter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varT_recipientIds</assignToReference>
            <name>recipientIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description
    >Sends a custom in-app notification to the Public Group members resolved by OpportunityEmailRouter, linking to the Opportunity record that changed stage.</description>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference
        >Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varT_recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varT_notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varT_notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varR_newOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description
    >Composes varT_notificationTitle, varT_notificationBody, varT_emailSubject, and varT_emailBody from Opportunity field values and the record URL formula.</description>
        <name>Assign_Notification_Content</name>
        <label>Assign Notification Content</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varT_notificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity stage updated: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >varR_newOpportunity.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Name: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_newOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Old Stage: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >varR_oldOpportunity.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue
        > (Note: if the record is newly created, this may be blank)
New Stage: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >varR_newOpportunity.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Amount: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_newOpportunity.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Close Date: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >varR_newOpportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Timestamp: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_notificationBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxDT_nowFormatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <description
  >Subflow called from the Opportunity record-triggered flow. Resolves notification recipients from Public Groups, composes notification and email content, and delivers in-app notifications and email alerts when an Opportunity stage changes.</description>
    <environments>Default</environments>
    <formulas>
        <description
    >Formats the current date and time as a text string for display in notification and email message content.</description>
        <name>fxDT_nowFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW())</expression>
    </formulas>

    <interviewLabel
  >Opportunity - AutolaunchedFlow - NotifyOnKeyStageTransitions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - AutolaunchedFlow - NotifyOnKeyStageTransitions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description
    >Retrieves the Opportunity_Owner_Alerts custom notification type record to obtain its Id for the Send Custom Notification action.</description>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resolve_Notification_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Owner_Alerts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description
    >The new (after-change) version of the Opportunity record passed in from the parent record-triggered flow.</description>
        <name>varR_newOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description
    >The old (before-change) version of the Opportunity record passed in from the parent record-triggered flow. StageName may be blank when the record is newly created.</description>
        <name>varR_oldOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>

    <variables>
        <description>Body text of the custom in-app notification.</description>
        <name>varT_notificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Title of the custom in-app notification.</description>
        <name>varT_notificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Collection of Salesforce User IDs returned by OpportunityEmailRouter. Passed to the Send Custom Notification action.</description>
        <name>varT_recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
